#create-post-main-container {
  display: flex;
  justify-content: center;
  height: 65vh;
}

#create-post-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-post-title {
  font-size: 48px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  color: #421527;
}

#create-post-details-box {
  display: flex;
  flex-direction: column;
  width: 25vw;
  border: 1px solid black;
  padding: 1vh 1vw;
  background-color: #a1b6c1;
}

#create-title-box,
#create-content-box,
#create-image-box {
  display: flex;
  justify-content: space-between;
  padding: 1vh 0;
  font-size: 15px;
  font-weight: bold;
}

.create-post-input {
  width: 100%;
  font-size: 16px;
}

#create-content-input {
  height: 10vh;
}

#create-post-submit-button {
  width: fit-content;
  margin-top: 4vh;
  font-size: 16px;
  margin-left: 7.5vw;
  width: 10vw;
  padding: 0.5vw;
  background-color: #5dada5;
}

#create-post-submit-button:hover {
  background-color: #69c2b9;
}

@media screen and (max-width: 775px) {
  #create-post-title {
    font-size: 20px;
  }

  #create-post-details-box {
    font-size: 10px;
  }

  #create-post-submit-button {
    font-size: 9px;
    width: fit-content;
  }
}
