#edit-post-main-container {
  display: flex;
  justify-content: center;
  height: 65vh;
}

#edit-post-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit-post-title {
  font-size: 48px;
}

#edit-post-details-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  padding: 1vh 1vw;
  background-color: #a1b6c1;
}

#edit-title-box,
#edit-content-box,
#edit-image-box,
#edit-restaurant-box {
  display: flex;
  justify-content: space-between;
  padding: 1vh 0;
  font-size: 15px;
  font-weight: bold;
}

.edit-post-input {
  width: 40vw;
  font-size: 16px;
}

#edit-content-input {
  height: 10vh;
}

#edit-post-submit-button {
  width: fit-content;
  margin-top: 1vh;
  font-size: 16px;
  width: 10vw;
  padding: 0.5vw;
  margin-right: 1vw;
  background-color: #5dada5;
}

#edit-post-submit-button:hover {
  background-color: #69c2b9;
}

@media screen and (max-width: 775px) {
  #edit-post-title {
    font-size: 20px;
  }

  #edit-post-details-box {
    font-size: 10px;
  }

  #edit-post-submit-button {
    font-size: 9px;
    width: fit-content;
  }
}
