#home-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dceacd8a;
}

#home-title {
  font-size: 7vh;
}

#create-post-button {
  font-size: 2vh;
  width: fit-content;
  padding: 0.5vw;
  margin: 0 0.5vw 1.5vh 0.5vw;
  background-color: #dd7965;
  color: #341528;
  font-weight: bolder;
}
