#home-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a1b6c1a8;
}

#home-title {
  font-size: 7vh;
}

#create-post-button {
  font-size: 2vh;
  width: fit-content;
  padding: 0.5vw;
  margin: 3vh 0.5vw 1.5vh 0.5vw;
  background-color: #e38597;
  font-weight: bolder;
}
