#main-container-div {
  display: flex;
  justify-content: space-evenly;
  height: 65vh;
}

#recent-post-box {
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: center;
  margin-top: 5vh;
  border: 1px solid black;
}

#recent-community-box {
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: center;
  margin-top: 5vh;
  border: 1px solid black;
}
