#login-main-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#login-sub-container {
  margin-top: 20vh;
}

#login-title {
  font-size: 48px;
  margin-top: 5vh;
  color: #9a5962;
}

#login-username-box,
#login-password-box {
  justify-content: space-between;
  color: #421527;
  font-weight: bolder;
}

#password-label {
  margin-left: 5px;
}

.login-input {
  margin-left: 20px;
  color: #341528;
  font-size: 15px;
}

#login-link-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

#login-submit {
  background-color: #5dada5;
  padding: 0.3vw;
  margin-bottom: 2vh;
}

a {
  text-decoration: none;
  color: #9a5962;
}

a:hover {
  text-decoration: none;
  color: #9a5962;
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
  color: #9a5962;
}
