#login-main-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #a1b6c1a8;
  height: 100vh;
}

#login-sub-container {
  margin-top: 20vh;
}

#login-title {
  font-size: 48px;
  margin-top: 5vh;
  color: #bb5e73;
}

#login-username-box,
#login-password-box {
  justify-content: space-between;
  font-weight: bolder;
}

#password-label {
  margin-left: 5px;
}

.login-input {
  margin-left: 20px;
  font-size: 15px;
}

#login-link-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

#login-submit {
  background-color: #7e90ab;
  padding: 0.3vw;
  margin-bottom: 2vh;
}

#login-submit:hover {
  background-color: #96abca;
}

a {
  text-decoration: none;
  color: #bb5e73;
}

a:hover {
  text-decoration: none;
  color: #bb5e73;
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
  color: #bb5e73;
}
