#header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  background-color: #dceacd;
  height: 12vh;
  align-items: center;
}

#header-left {
  display: flex;
  align-items: center;
}

#title {
  align-content: center;
  color: #341528;
  margin-left: 10px;
}

#logo {
  height: 60px;
  width: auto;
}

#header-right {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #dd7965;
}

a:visited {
  color: #dd7965;
}

#header-buttons {
  display: flex;
}

#login-button,
#register-button,
#logout-button {
  font-size: 16px;
  width: 10vw;
  padding: 0.5vw;
  margin-right: 1vw;
  background-color: #dd7965;
  color: #341528;
}

.current-user-display {
  color: #341528;
  font-weight: bolder;
  margin-right: 1vw;
  margin-top: 1.5vh;
}

#header-restaurant-link,
#header-separator,
#header-posts-link {
  margin-right: 1vw;
  margin-top: 1.5vh;
}
