#post-card-main-container {
  display: flex;
  justify-content: center;
}

#post-card-container {
  display: flex;
}

#post-card-details {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 4px 4px 4px #421527;
  max-width: 50vw;
  width: 50vw;
  margin: 1vw 0;
  text-align: center;
  align-items: center;
}

.post-attr {
  font-weight: bold;
  padding: 0 1vw;
}

#home-title {
  font-size: 2.25vh;
  color: #ab3320;
}

#home-content {
  font-size: 2vh;
}

#comment-ternary {
  border: none;
  background-color: transparent;
  color: darkgray;
}

#show-comments-box {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  width: 45vw;
  text-align: left;
}

#post-image {
  width: auto;
  height: 30vh;
  max-height: 30vh;
  max-width: 40vw;
  margin-bottom: 2vh;
}

#post-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1vw;
}

#post-card-edit-button,
#post-card-delete-button {
  font-size: 16px;
  width: 10vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
  border: none;
  background-color: transparent;
  color: darkgray;
}

#new-comment {
  margin-left: 0.8vw;
  margin-bottom: 1vh;
  width: 43vw;
  margin: 1.5vh 0 1.5vh 0.75vw;
  padding: 1vh 1vw;
}
