#restaurant-landing-card-main-container {
  display: flex;
  justify-content: center;
}

#restaurant-landing-card-container {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 4px 4px 4px #421527;
  width: 38vw;
  height: fit-content;
  margin: 1vw 0;
}

.post-attr {
  font-weight: bold;
  padding: 0 1vw;
}
