#restaurant-landing-card-main-container {
  display: flex;
  justify-content: center;
}

#restaurant-landing-card-container {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 8px 2px #2a5279;
  width: 38vw;
  height: fit-content;
  margin: 1vw 0;
  background-color: #f7f8f4;
}

#landing-restaurant {
  font-size: 3vh;
  color: #bb5e73;
}

#landing-city-state {
  font-size: 2vh;
  font-weight: normal;
}

.post-attr {
  font-weight: bold;
  padding: 0 1vw;
}
